<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oocl.web.mapper.UserMapper">

    <resultMap id="loginUser" type="user">
        <id column="userId" property="userId"></id>
        <result column="userName" property="userName"></result>
        <result column="userPassword" property="userPassword"></result>
        <collection property="roles" ofType="role">
            <id column="roleId" property="roleId"></id>
            <result column="roleName" property="roleName"></result>
            <result column="roleDescription" property="roleDescription"></result>
            <collection property="permissions" ofType="permission">
                <id column="permissionId" property="permissionId"></id>
                <result column="permissionName" property="permissionName"></result>
                <result column="permissionDescription" property="permissionDescription"></result>
            </collection>
        </collection>
    </resultMap>

   <select id="selectUserByUserName" resultMap="loginUser" parameterType="user">
        select u.userId, u.userName,u.userPassword,r.roleId, r.roleName,r.roleDescription,p.permissionId, p.permissionName,p.permissionDescription
            from  user u, user_role ur,role r,role_permission rp, permission p
            where u.userName= #{userName} and u.userId = ur.userId
            and ur.roleId = r.roleId and r.roleId = rp.roleId and rp.permissionId = p.permissionId;
   </select>

    <insert id="addUser" parameterType="user">
        insert into user values(#{userId}, #{userName}, #{userPassword})
    </insert>
    <select id="selectAllUser" resultType="user">
        select * from user
    </select>
</mapper>